.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 600px;
    margin:0 auto;
}

#inputRange{
    max-width: 500px;
}

#inputPodcast{
    width: 60px;
    text-align: center;
}